:root{
    --default-button: #1976d2;
    --default-button-hover: #1564b3;
    --primary-button: #443d70;
    --primary-button-hover:#282441;
    --secondary-button: #ff0099 ;
    --secondary-button-hover: #d3007f ;
    --success-button: #28a745;
    --success-button-hover:#1d7932;
    --warning-button-hover:#d39e00;
    --warning-button:#ffc107;
    --danger-button:#dc3545;
    --danger-button-hover:#a52734;
    --info-button:#17a2b8;
    --info-button-hover:#117888;
    --light-button: #f8f9fa;
    --light-button-hover: #e7e7e7;
    --dark-button: #343a40;
    --dark-button-hover: #131518;
    --cl-primary-color: #004085;
    --cl-primary-background-color: #cce5ff;
    --cl-primary-border-color: #b8daff;
    --cl-secondary-color: #383d41;
    --secondary-background-color: #e2e3e5;
    --secondary-border-color: #d6d8db;
    --success-color: #155724;
    --success-background-color: #d4edda;
    --success-border-color: #c3e6cb;
    --danger-color: #721c24;
    --danger-background-color: #f8d7da;
    --danger-border-color: #f5c6cb;
    --warning-color: #856404;
    --warning-background-color: #fff3cd;
    --warning-border-color: #ffeeba;
    --info-color: #0c5460;
    --info-background-color: #d1ecf1;
    --info-border-color: #bee5eb;
    --light-color: #818182;
    --light-background-color: #fefefe;
    --light-border-color: #fdfdfe;
    --dark-color: #1b1e21;
    --dark-background-color: #d6d8d9;
    --dark-border-color: #c6c8ca;
}